@import '../theme';

.button-link {
  background-color: $htw-green;
  color: white;
  text-decoration: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 2em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.25s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.25s ease-in-out;
  }
}