.toolbar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  background-color: #f5f5f5;
  padding: 1em;
  border-radius: 2em;
  margin: 1em 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);

  .left-align {
    float: left
  }

  .right-align {
    margin-left: auto;
  }

  > * > * {
    margin: 0 0.25em;
  }
}